.wrapper {
  width: 90%;
  max-width: 1520px;
  padding: 4% 20px;
  position: relative;
  -webkit-overflow-scrolling: touch;
  margin: auto;
  display: block;

  &.wrapper-draw {
    width: 100%;
    padding: 4% 0;
  }
}