@font-face {
  font-family: 'BebasNeue Bold';
  src: url("../fonts/BebasNeue Bold.otf"); }

.font-quicksand {
  font-family: "Quicksand", sans-serif; }

.font-quicksand-bold {
  font-family: "Quicksand", sans-serif;
  font-weight: bold; }

.font-bebasNeue {
  font-family: "BebasNeue Bold"; }

/*btn color*/
/*option emotion color*/
/*modal header color*/
/*message color*/
/*header step color*/
.modal-contaiter {
  width: 100%;
  overflow: auto; }
  .modal-contaiter .modal-content {
    width: 90%;
    max-width: 580px;
    height: 350px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
    border: 4px solid #231f20;
    background: #e8e8e8; }
  .modal-contaiter .modal__header {
    position: relative;
    padding: 0 60px;
    border-bottom: 4px solid #252525;
    text-transform: uppercase;
    font-family: "BebasNeue Bold";
    font-size: 4em;
    font-weight: bold;
    line-height: 1.2; }
    .modal-contaiter .modal__header .close-btn {
      background: none;
      border: 0; }
      .modal-contaiter .modal__header .close-btn:before {
        content: 'X';
        position: absolute;
        right: 0;
        margin: 10px;
        padding: 0 14px;
        font-size: 0.6em;
        top: 0;
        border-radius: 5px;
        background: #eb3736;
        color: #f2fbce; }
  .modal-contaiter .review-modal .modal__header {
    background: #36adc9; }
  .modal-contaiter .review-modal .modal__body {
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.1em; }
  .modal-contaiter .hint-modal .modal__header {
    background: #ABD14C; }
  .modal-contaiter .modal__body {
    padding: 5% 13%;
    font-family: "Quicksand", sans-serif;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
    align-items: center;
    height: 70%;
    justify-content: center; }
